.project-both {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px ridge gold;
    padding: 15px;
    /* max-width: fit-content; */
    /* background-color: aquamarine; */
    background-color: rgb(255, 223, 181);
    max-width: 340px;
}


html {
    background-color: antiquewhite;
}

.fog-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
}

h3 {
    text-align: center;
}

a {
    color: rgb(35, 192, 145);
    text-decoration: none;
}

.projects-container {
    /* border: 1px red solid; */
    max-width: fit-content;
}

h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-style: italic;
    text-align: center;
    background-color: rgb(255, 223, 181);
    border: 5px ridge gold;

}

.statement {
    font-style: italic;
    text-align: center;
    background-color: rgb(255, 223, 181);
    border: 5px ridge gold;
}

.projects-textbox {
    font-style: italic;
    text-align: center;
    background-color: rgb(255, 223, 181);
    border: 5px ridge gold;
    max-height: 70px;
    margin-top: 30px;
    right: 400px;
    position: fixed;
}

.fog-doc {
    font-style: italic;
    background-color: rgb(255, 223, 181);
    border: 5px ridge gold;
    margin-top: 30px;
    max-width: 700px;
    padding: 10px;

}

.project-name {
    padding-top: 14px;
    letter-spacing: 15px;
}

.info-container {
    padding-top: 13px;
}

.info {
    max-width: 39px;
}

.term-2 {
    margin-top: 15px;
}

.project-thumbnail {
    width: 100px;
    height: 100px;
}



@media only screen and (max-width: 800px) {
    img {
        width: 70px;
        height: auto;
    }

    .projects-textbox {
        display: none;
    }

    .project-name {
        letter-spacing: 10px;
    }

    h1 {
        font-size: 21px;
    }

    .texts-container {
        display: flex;
        justify-content: center;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .projects-container {
        text-align: center;
    }

    .mainImg {
        display: none;
    }
}



@media only screen and (min-width: 801px) {

    h1 {
        letter-spacing: -5px;
        position: fixed;
        padding-right: 7px;
        text-decoration: overline underline #a18eff wavy 5px;

    }

    .texts-container {
        padding-left: 20px;

    }

    .statement {
        position: fixed;
        padding-right: 7px;
        margin-top: 120px;
        max-width: 189px;
    }

    .container {
        display: flex;
        justify-content: right;
    }

    body {
        display: flex;
        justify-content: space-between;
    }

    .mainImg {
        margin-top: 0px;
        width: auto;
        height: 100vh;
        position: fixed;
        max-width: 500px;
    }

}

body {
    background-image: url('assets/images/shield.jpeg');
    background-attachment: fixed;
}

@media screen and (max-width: 365px) {
    .project-thumbnail {
        width: 95px;
        height: 95px;
    }
}